<style type="text/css">
		nav.nav.top {
    display: block !important;
}
</style>
<div class="contenedor">
	<div class="form comic">
		<form class="form-comic" [formGroup]="form" (ngSubmit)="create()" >
			<div class="label-form">Titulo</div>
			<div class="input-form"><input type="text" formControlName="titulo"   placeholder="titulo" name="titulo" ngModel ></div>
			<div class="label-form">Descripcion</div>
			<div class="input-form"><input type="text"  formControlName="descripcion"   placeholder="descripcion" name="descripcion" ngModel ></div>

			<div class="label-form">Comentario</div>
			<div class="input-form"><input type="text"  formControlName="comentario"   placeholder="comentario" name="comentario" ngModel></div>
			<div>
			</div>
			<button  class="submit-form"  type="submit" >Guardar</button>

		</form>
	</div>
</div><!--/contendor-->
