
<style type="text/css">
	.comic.titulo {
    padding: 15px;
    border: #673AB7 1px solid;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    width: 150px;
    margin: 10px;
    float: left;
}

button.btn-buscar {
    width: 30%;
    padding: 15px;
}

input.input-buscar {
    width: 50%;
    margin-left: 10px;
}

</style>


<div> <input type="text" class="input-buscar" id="buscar"   placeholder="buscar" name="buscar" (keyup)="buscar(mymodel=$event.target.value)" ><button  class="btn-buscar"  type="submit" (click)="Nuevo()" >+ Nuevo</button></div>




 <div class="box comics" *ngFor="let data of datacomics ">
                              <a href="comic/show/{{data.id}}">  <div class="comic titulo">{{data.titulo}}</div></a>
              
                            </div>


