<style type="text/css">
	.bar {
    width: 100%;
    background-color: #fff;
    height: 70px;
    position: fixed;
    z-index: 1000000;
    top: 0px;
}
</style>
<div class="bar"> </div>
<div class="contenedor">
	<div class="form create-user">
		<form class="m-t" [formGroup]="form" (ngSubmit)="create()" >
			<div class="label-form">Nombre</div>
			<div class="input-form"><input type="text" formControlName="nombre" class="form-control"  placeholder="nombre" name="nombre" ngModel ></div>
			<div class="label-form">Pais</div>
			<div class="input-form"><input type="text"  formControlName="pais" class="form-control"  placeholder="pais" name="pais" ngModel ></div>

			<div class="label-form">Email</div>
			<div class="input-form"><input type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"   formControlName="email" class="form-control"  placeholder="email" name="email" ngModel></div>


			<div class="alerta email" *ngIf="!form.controls['email'].valid && form.controls['email'].touched">

				EMAIL Invalido</div>

				<div>
					<div class="label-form">Password</div>
					<div class= "input-form"><input type="text"  pattern="^(?=(.*[a-z]){1,})(?=(.*[\d]){2,})(?=(.*[\W]){1,})(?!.*\s).{8,}$" formControlName="password" class="form-control"  placeholder="password" name="password" required    ngModel></div>

				</div>

				<div class="alerta password" *ngIf="!form.controls['password'].valid && form.controls['password'].touched">
		
					○ Mínimo una mayúscula.<br>

					○ Mínimo 2 números.<br>

					○ Mínimo un carácter especial.<br>

					○ Una longitud mínima de 8 caracteres.<br></div>

					<button  class="submit-form"  type="submit" >Registrar</button>

				</form>
			</div>
		</div><!--/contendor-->
