
<div class="contenedor">
	<div class="form login">
		<form class="" [formGroup]="form" (ngSubmit)="login()" >
			

			<div class="label-form">Email</div>
			<div class="input-form"><input type="text"  formControlName="email"   placeholder="email" name="email" ngModel></div>
			<div>
				<div class="label-form">Password</div>
				<div class= "input-form"><input type="text"  formControlName="password"   placeholder="password" name="password" required    ngModel></div>

			</div>

			<button  class="submit-form"  type="submit" >Entrar</button>
			

			     

		</form>
	</div>
</div><!--/contendor-->