	body{
		margin:0px;
	}
	.contenedor{
		width: 100%;
		margin-left: 15px;
		margin-right: 15px;
	}

	.form {
		width: 350px;

		margin: auto;
		background-color: #9e9e9e;
		padding:20px;
		display: table;
	}
	.label-form{
		padding:0px;
		font-family: Arial;
	}
	.input-form{
		padding-top:10px;
		padding-bottom: 10px;
		
	}
	input[type=text] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input.form-control {
		border: 0px;
		padding: 10px;

	}
	button.submit-form {
		background-color: #2196F3;
		color: #fff;
		padding: 10px;
		width: 100%;
		border:0px;
	}

	.label-form {
		color: #636363;
		
	}

	.form.comic {
    background-color: #4cd5e6;
}

.form.comic {
    margin-top: 20px;
}

.form.login {
    margin-top: 20px;
}


	@media (max-width: 767px) {

		.contenedor{
			
			margin-left: 0px !important;
			margin-right: 0px !important;
			width: 90%;
			margin: auto !important;


		}

		.form {
			margin: auto;
			width: 90% !important;
			margin: auto;
			background-color: #9e9e9e;
			
		}
	}
